<!-- TABLE -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
                <a [routerLink]="[user.id]">
                    <i class="fa-solid fa-pen-to-square" style="color: green;"></i>
                </a>
                <a href="" style="padding-left: 10px;">
                    <i class="fa-solid fa-trash" style="color: red;"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<!-- END TABLE -->